<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>海报编辑</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .image-operate {
            position: relative;
            background-color: #eee;
            padding: 10px;
        }

        .image-operate > div {
            display: inline-block;
            margin: 0 10px;
        }

        .el-popover li {
            position: relative;
            display: block;
            cursor: pointer;
            line-height: 40px;
            padding: 0 10px;
        }

        .el-popover li:hover {
            background-color: #ecf5ff;
        }

        .el-popover li > p {
            line-height: 20px;
        }

        .el-popover li > p.right {
            position: absolute;
            right: 10px;
            top: 0;
        }

        .el-popover > p {
            text-align: center;
        }

        .color-slider {
            position: absolute;
            width: calc(100% - 20px);
            height: 6px;
            top: calc(67% - 3px);
            background-image: url(static/images/hueSlider.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .color-slider.green-red{
            background-image: url(static/images/greenRedSlider.jpg);
        }

        .color-slider.purple-green{
            background-image: url(static/images/purpleGreenSlider.jpg);
        }

        .color-slider.yellow-blue{
            background-image: url(static/images/yellowBlueSlider.jpg);
        }
    </style>
  </head>
  <body>
    <script src='https://unpkg.com/vue@2.5.13/dist/vue.min.js'></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="pic-tune.min.js"></script>

    <div id="app">
        <template>

            <el-popover
                ref="crop"
                width="200"
                trigger="hover">
                <el-select v-model="selectSize" placeholder="" @change="toggleCrop(true)">
                    <el-option
                        v-for="size in sizeList"
                        :key="size"
                        :label="size"
                        :value="size">
                    </el-option>
                </el-select>
                <el-checkbox v-model="isLockSize" @change="toggleCrop(true)">锁定剪裁比例</el-checkbox>
                <p>
                    <el-button type="primary" size="mini" @click="setCrop">确定</el-button>
                    <el-button size="mini" @click="reset()">取消</el-button>
                </p>
            </el-popover>

            <el-popover
                ref="rotate"
                width="200"
                trigger="hover">
                <ul>
                    <li v-for="item in rotate" @click="setRotate(item.params)">{{item.name}}</li>
                </ul>
                <p>
                    <el-button type="primary" size="mini" @click="confirm()">确定</el-button>
                    <el-button size="mini" @click="reset()">还原</el-button>
                </p>
            </el-popover>

            <el-popover
                ref="base"
                width="200"
                trigger="hover">
                <ul>
                    <li v-for="item in base">
                        <p>{{item.name}}</p>
                        <el-slider v-model="item.value" :step="item.step" :min="item.limit[0]" :max="item.limit[1]" @change="baseChange"></el-slider>
                    </li>
                </ul>
                <p>
                    <el-button type="primary" size="mini" @click="baseConfirm(true)">确定</el-button>
                    <el-button size="mini" @click="baseConfirm(false)">还原</el-button>
                </p>
            </el-popover>

            <el-popover
                ref="color"
                width="200"
                trigger="hover">
                <ul>
                    <li v-for="item in color">
                        <p>{{item.name[0]}}</p>
                        <p class="right">{{item.name[1]}}</p>
                        <el-slider v-model="item.value" :step="item.step" :min="item.limit[0]" :max="item.limit[1]" @change="colorChange"></el-slider>
                        <div :class="'color-slider ' + item.cls"></div>
                    </li>
                </ul>
                <p>
                    <el-button type="primary" size="mini" @click="colorConfirm(true)">确定</el-button>
                    <el-button size="mini" @click="colorConfirm(false)">还原</el-button>
                </p>
            </el-popover>

            <!-- 操作按键栏 -->
            <div class="image-operate">
                <el-upload
                    action=""
                    :auto-upload="false"
                    :show-file-list="false"
                    accept="image/*"
                    :on-change="onFileChange">
                    <el-button type="primary">本地上传</el-button>
                </el-upload>
                <el-button type="primary" @click="save">保存</el-button>
                <el-button type="primary" v-popover:crop @click="toggleCrop(true)">裁切</el-button>
                <el-button type="primary"  v-popover:rotate>旋转</el-button>
                <el-button type="primary" v-popover:base>基础</el-button>
                <el-button type="primary" v-popover:color>调色</el-button>
            </div>
            <div ref="image-editor"></div>
        </template>
    </div>
    <script>
        var Main = {
            name: 'test',
            data() {
                sizeList = ['100x100', '320x240', '240x320', '400x400'];

                return {
                    editor: null,
                    selectSize: sizeList[0],
                    sizeList: sizeList,
                    isLockSize: true,
                    rotate: [
                        {
                            name: '向右旋转90度',
                            params: [90]
                        },{
                            name: '向左旋转90度',
                            params: [-90]
                        },{
                            name: '旋转180度',
                            params: [180]
                        },{
                            name: '水平翻转',
                            params: [0, true]
                        },{
                            name: '垂直翻转',
                            params: [180, true]
                        },
                    ],
                    base: [
                        {
                            name: '亮度',
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1]
                        },{
                            name: '对比度',
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1]
                        },{
                            name: '色彩饱和度',
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1]
                        },{
                            name: '清晰度',
                            value: 0,
                            step: 1,
                            limit: [-10, 10]
                        }
                    ],
                    color: [
                        {
                            name: ['色相'],
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1],
                            cls: ''
                        },{
                            name: ['青', '红'],
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1],
                            cls: 'green-red'
                        },{
                            name: ['紫', '绿'],
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1],
                            cls: 'purple-green'
                        },{
                            name: ['黄', '蓝'],
                            value: 0,
                            step: 0.1,
                            limit: [-1, 1],
                            cls: 'yellow-blue'
                        }
                    ],
                }
            },
            computed: {
            },
            methods: {
                onFileChange (e) {
                    const file = e.raw;

                    this.editor.loadAsFile(file);
                },
                save () {
                    this.editor.download();
                },
                confirm ( url ) {
                    this.editor.confirm( url );
                },
                reset () {
                    this.editor.reset();
                },
                toggleCrop ( toggle ) {
                    let sizeArr = this.selectSize.split("x");

                    toggle = !!toggle;

                    if ( this.isLockSize ) {
                        this.editor.toggleCrop(toggle, sizeArr[0] / sizeArr[1]);
                    } else {
                        this.editor.toggleCrop(toggle);
                    }
                },
                setCrop () {
                    this.editor.setCrop();
                },
                setRotate ( args ) {
                    this.editor.rotate(args[0], args[1]);
                },
                baseChange () {
                    let base = this.base;

                    this.editor.base(base[0].value, base[1].value, base[2].value, base[3].value);
                },
                baseConfirm ( isChange ) {
                    let base = this.base;

                    if ( isChange ) {
                        this.confirm();
                    } else {
                        this.reset();
                    }

                    for ( let i = 0, len = base.length; i < len; ++i ) {
                        base[i].value = 0;
                    }
                },
                colorChange () {
                    let color = this.color;

                    this.editor.huaColor(color[0].value, color[1].value, color[2].value, color[3].value);
                },
                colorConfirm ( isChange ) {
                    let color = this.color;

                    if ( isChange ) {
                        this.confirm();
                    } else {
                        this.reset();
                    }

                    for ( let i = 0, len = color.length; i < len; ++i ) {
                        color[i].value = 0;
                    }
                }
            },
            mounted() {
                this.editor = new PicTune({
                    element: this.$refs['image-editor'],
                    // width: '200px',
                    height: '545px',
                    url: 'static/images/logo.png',
                    // output: 'image/jpg',
                    onMovingCrop: () => {
                        
                    },
                });
            }
        };
        var Ctor = Vue.extend(Main);
        new Ctor().$mount('#app');
    </script>
  </body>
</html>
