.image-editor-wrapper {
    user-select: none;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 400px;
    line-height: 400px;
    overflow: hidden;
    background-color: #fff;
}

.image-editor-source {
    position: relative;
    display: inline-block;
    max-width: 90%;
    max-height: 80%;
    vertical-align: middle;
    box-shadow: 2px 2px 5px #666;
}

.image-editor-picture {
    position: absolute;
    left: 2px;
    top: 2px;
    visibility: hidden;
}

.image-editor-canvas,
.image-editor-show {
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.image-editor-crop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: move;
}

.image-editor-crop:before {
    position: absolute;
    content: ' ';
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ff8181;
}

.image-editor-crop:after {
    display: block;
    margin: 1px;
    content: ' ';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 1px solid #ff8181;
}

.image-editor-crop div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #f2060d;
    background-color: #e6b9b9;
}

.editor-crop-left {
    left: -6px;
}

.editor-crop-right {
    right: -6px;
}

.editor-crop-top {
    top: -6px;
}

.editor-crop-bottom {
    bottom: -6px;
}

.editor-crop-left.editor-crop-top {
    cursor: nw-resize;
}

.editor-crop-left.editor-crop-bottom {
    cursor: sw-resize;
}

.editor-crop-right.editor-crop-top {
    cursor: ne-resize;
}

.editor-crop-right.editor-crop-bottom {
    cursor: se-resize;
}

.image-editor-addition {
    position: absolute;
    min-width: 50px;
    max-width: 100%;
    min-height: 20px;
    line-height: 20px;
    font-size: 20px;
    border: 1px dotted #333;
    text-align: left;
}

.image-editor-addition > * {
    opacity: 0;
}

.image-editor-addition:hover > *,
.image-editor-addition.active > * {
    opacity: 1;
}

.editor-add-operate {
    position: absolute;
    top: -20px;
    left: -1px;
    width: calc(100% + 2px);
    height: 20px;
    background-color: #333;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: move;
}

.editor-add-operate > div {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 2px 2px 0 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    border-radius: 2px;
    background-color: red;
    text-align: center;
    cursor: pointer;
}

.editor-add-operate > div:hover {
    opacity: 0.8;
}

.editor-add-content img {
    margin: 0;
    max-width: 80%;
    max-height: 80%;
}

.image-editor-addition:hover .editor-add-content {
    background: #fff;
}

.editor-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    cursor: se-resize;
}